# PySpark intro

Based on **Krish Naik** video: https://www.youtube.com/watch?v=_C8kWso4ne4

In [1]:
import pyspark

Normal file reading with pandas.

In [2]:
import pandas as pd
pd.read_csv('data/test1.csv')

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In PySpark first we have to start spark session

In [3]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
spark

PySpark reading data

In [13]:
df_pyspark = spark.read.csv('data/test1.csv')

In [14]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [15]:
df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

Applying first row as a header

In [16]:
df_pyspark = spark.read.option('header', 'true').csv('data/test1.csv')

In [17]:
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [18]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [20]:
df_pyspark.head(4)

[Row(Name='Krish', age='31', Experience='10', Salary='30000'),
 Row(Name='Sudhanshu', age='30', Experience='8', Salary='25000'),
 Row(Name='Sunny', age='29', Experience='4', Salary='20000'),
 Row(Name='Paul', age='24', Experience='3', Salary='20000')]

More information about columns

In [21]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)